<div class="row">
    <div class="col-sm-12 col-md-3 bg-dark">
        
        <div class="card-body">
            <nav class="navbar flex-column">
                <a class="navbar-brand" href="#" style="margin-left: 35px">
                    <img src="/img/FVK.png" width="150" height="150" class="d-inline-block align-top" alt="Logo FVK." title="Logo Federación Venezolana de Kendo Iaido & Jodo.">
                </a>
                <br>
                <br>
                <li class="nav-item">
                    <a href="/kenshi/init" class="nav-link"><i class="fa fa-home"></i>  Inicio</a>
                </li>
                <br>
                <br>
                <li class="nav-item">
                    <a href="/config/{{_id}}" class="nav-link"><i class="fas fa-cog"></i>  Configuracion</a>
                </li>
                <br>
                <br>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-stamp"></i>  Certificaciones</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><i class="fas fa-file-contract"></i>  Grado</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-certificate"></i> Cualquier otra</a>
                        </div>
                </li> 
                <br>
                <br>
                <li class="nav-item">
                    <a href="#" class="nav-link disabled"><i class="fa fa-question-circle"></i>  No sé qué poner aquí</a>
                </li>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-danger">
                        <a href="/users/logout" class="nav-link "><i class="fas fa-sign-out-alt"></i>  Cerrar Sesión</a>
                    </button>
                </li>
            </nav>
        </div>
    </div>

    <div class="col-sm-12 col-md-9 content">
            <div class="card-head jumbotron panel2" style="height: 350px">
                <br><br>
                <h1 class="title">Kenshi</h1>
            </div>
            <div class="card-body">
                <hr>
                <h3>¡Bienvenido!</h3>
                <br>
                <p>Este es el sistema administrativo para los kenshi. Aquí podrás configurar tu cuenta, registrar pagos y descargar certificaciones de grado para avalarte.</p>
                <hr>
            </div>
    </div>
</div>