<div class="row">
    <div class="col-sm-12 col-md-3 bg-dark">
        
        <div class="card-body">
            <nav class="navbar flex-column">
                <a class="navbar-brand" href="#" style="margin-left: 35px">
                    <img src="/img/FVK.png" width="150" height="150" class="d-inline-block align-top" alt="Logo FVK." title="Logo Federación Venezolana de Kendo Iaido & Jodo.">
                </a>
                <br>
                <br>
                <li class="nav-item">
                    <a href="/dojos/init" class="nav-link"><i class="fa fa-home"></i>  Inicio</a>
                </li>
                <br>
                <br>
                <li class="nav-item">
                    <a href="/dojos/members" class="nav-link"><i class="fa fa-address-card"></i>  Membresía</a>
                </li>
                <br>
                <br>
                <li class="nav-item">
                    <a href="/dojo/config/{{_id}}" class="nav-link"><i class="fas fa-cog"></i>  Configuracion</a>
                </li>
                <br>
                <br>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-credit-card"></i>  Tesorería</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/dojos/ingresos"><i class="fas fa-piggy-bank"></i>  Ingresos</a>
                            <a class="dropdown-item" href="/dojos/egresos"><i class="fas fa-hand-holding-usd"></i>Egresos</a>
                        </div>
                </li> 
                <br>
                <br>
                <li class="nav-item">
                    <a href="#" class="nav-link disabled"><i class="fa fa-question-circle"></i>  No sé qué poner aquí</a>
                </li>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-danger">
                        <a href="/dojos/logout" class="nav-link "><i class="fas fa-sign-out-alt"></i>  Cerrar Sesión</a>
                    </button>
                </li>
            </nav>
        </div>
    </div>

    <div class="col-sm-12 col-md-9 content">
            <div class="card-head jumbotron panel1" style="height: 350px">
                <br><br>
                <h1 class="title">Panel de dojos</h1>
            </div>
            <div class="card-body">
                <hr>
                <h3>¡Bienvenido!</h3>
                <br>
                <p>Este es el sistema administrativo para los dojos. Aquí podrás configurar tu cuenta, administrar miembros y llevar un control de las finanzas de tu dojo.</p>
                <hr>
            </div>
    </div>
</div>