{{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}

<div class="card container content my-5">
    <img src="/img/4.png" alt="Registro" class="card-img-top cap">
    <div class="card-body">
        <h2>Registro de Dojos</h2>
        <form action="/dsignup" method="POST">
            <div class="row">
                <div class="form-group col-sm-12 col-md-4">
                    <label for="">Nombre del Dojo</label>
                    <input type="text" name="DojoName" class="form-control" placeholder="Dojo Name" autofocus>
                </div>
                <div class="form-group col-sm-12 col-md-4">
                    <label for="">Correo Institucional</label>
                    <input type="email" name="DojoEmail" class="form-control" placeholder="ejemplo@dojo.com">
                </div>
                <div class="form-group col-sm-12 col-md-4">
                    <label for="">RIF</label>
                    <input type="text" name="DojoRIF" class="form-control" placeholder="J000000000">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="">Contraseña</label>
                    <input type="password" name="DojoPassword" class="form-control">
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="">Confirmar contraseña</label>
                    <input type="password" name="PasswordConfirmation" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="">Fecha de Fundación</label>
                    <input type="date" name="DojoFoundation" class="form-control">
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="">Dirección</label>
                    <input type="text" name="DojoAddress" class="form-control" placeholder="Edificio, calle, ciudad, estado">
                </div>
            </div>

            <!--Alinear aqui-->

            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="">Artes marciales que imparte</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name='artes' type="checkbox" id="inlineCheckbox1" value="kendo">
                        <label class="form-check-label" for="inlineCheckbox1">Kendo</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name='artes' type="checkbox" id="inlineCheckbox2" value="iaido">
                        <label class="form-check-label" for="inlineCheckbox1">Iaido</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name='artes' type="checkbox" id="inlineCheckbox3" value="jodo">
                        <label class="form-check-label" for="inlineCheckbox1">Jodo</label>
                    </div>
                </div>
            </div>


            <h3>Sobre el responsable</h3>
            <div class="row">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="">Nombre Completo</label>
                    <input type="text" name="FounderName" class="form-control" placeholder="Nombre">
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="">Correo electrónico</label>
                    <input type="email" name="FounderEmail" class="form-control" placeholder="nombre@ejemplo.com">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="">Cédula de Identidad</label>
                    <input type="" name="FounderID" class="form-control" placeholder="00000000">
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="grado">Grado</label>
                    <select name="grados" id="" class="form-control">
                        <option value="1er dan">一段・1er dan</option>
                        <option value="2do dan">二段・2do dan</option>
                        <option value="3er dan">三段・3er dan</option>
                        <option value="4to dan">四段・4to dan</option>
                        <option value="5to dan">五段・5to dan</option>
                        <option value="6to dan">六段・6to dan</option>
                        <option value="7mo dan">七段・7mo dan</option>
                        <option value="8vo dan">八段・8vo dan</option>
                    </select>
                </div>
            </div>

            <br>
            <button type="submit" class="btn btn-primary"><span class="fa fa-paper-plane"></span> Enviar solicitud de ingreso</button>
        </form>
        <br>
        <p style="color: black">¿Su dojo ya está registrado? <a href="/">Ingrese</a>.</p>
    </div>
</div>