<body class="container">
    <div class="card container jumbotron mt-5 content">
            <div class="row container">
                <div class="container logo col-sm-12 col-lg-6 card-img-left">
                    <img src="/img/FVK.png" alt="Logo FVK" title="Logo Federación Venezolana de Kendo, Iaido y Jodo" width="300" height="300">
                    <h1>Federación Venezolana</h1>
                    <h3>Kendo Iaido & Jodo</h3>
                </div>
                <div class="carousel slide col-sm-12 col-lg-6" id="carouselExampleIndicators" data-ride="caraousel" data-interval="0">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="container reverse carousel-item active card-body my-auto mx-auto">
                        <h2>道場 - DOJOS</h2>
                        <form action="/dinit" method="post">
                            <div class="form-group">
                                <label for="dojo-email">Correo Institucional</label>
                                <input type="email" id="dojo-email" name="DojoEmail" class="form-control" placeholder="Enter e-Mail">
                            </div>
                            <div class="form-group">
                                <label for="dojo-pass">Contraseña</label>
                                <input type="password" id="dojo-pass" name="DojoPass" class="form-control" placeholder="Enter Password">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-danger">ingresar</button>
                        </form>
                        <br>
                        <p style="font-size: 30px">¿Su dojo no está registrado? <a href="/dsignup">Registrelo</a>.</p>
                    </div>
    
                    <!--Kenshi-->
                    
                    <div class="container reverse carousel-item card-body">
                        <h2>剣士 - KENSHIS</h2>
                        <form action="/kinit" method="post">
                            <div class="form-group">
                                <label for="">Correo electrónico</label>
                                <input type="email" name="email" class="form-control" placeholder="Enter e-Mail">
                            </div>
                            <div class="form-group">
                                <label for="">Contraseña</label>
                                <input type="password" name="password" class="form-control" placeholder="Enter Password">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-danger">Ingresar</button>
                        </form>
                        <br>
                        <p style="font-size: 30px">Para ingresar, debe pertenecer un Dojo. <a href="#">Saber más</a>.</p>
                    </div>

                    <div class="container reverse carousel-item card-body">
                        <h2>AUTORIDADES</h2>
                        <form action="/ainit" method="post">
                            <div class="form-group">
                                <label for="">Correo administrativo</label>
                                <input type="email" class="form-control" name="correo" placeholder="Enter e-Mail">
                            </div>
                            <div class="form-group">
                                <label for="">Contraseña</label>
                                <input type="password" class="form-control" name="password" placeholder="Enter Password">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-danger">Ingresar</button>
                        </form>
                        <br>
                        <p style="font-size: 30px"><a href="#">Saber más</a>.</p>
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
    </div>
</body>