<nav class="navbar flex-column">
    <a class="navbar-brand" href="#" style="margin-left: 35px">
        <img src="/img/FVK.png" width="150" height="150" class="d-inline-block align-top" alt="Logo FVK." title="Logo Federación Venezolana de Kendo Iaido & Jodo.">
    </a>
    <br>
    <br>
    <li class="nav-item">
        <a href="/dojo/dashboard" class="nav-link"><i class="fa fa-home"></i>  Inicio</a>
    </li>
    <br>
    <br>
    <li class="nav-item">
        <a href="/dojo/members" class="nav-link"><i class="fa fa-address-card"></i>  Membresía</a>
    </li>
    <br>
    <br>
    <li class="nav-item">
        <a href="/config/{{_id}}" class="nav-link"><i class="fas fa-cog"></i>  Configuracion</a>
    </li>
    <br>
    <br>
    <li class="nav-item">
        <a class="dropdown-item" href="/pagos/ingresos"><i class="fas fa-piggy-bank"></i>  Finanzas</a>
    </li> 
    <br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <li class="nav-item">
        <button type="button" class="btn btn-outline-danger">
            <a href="/logout" class="nav-link "><i class="fas fa-sign-out-alt"></i>  Cerrar Sesión</a>
        </button>
    </li>
</nav>