<form action="/adminRegistro" method="POST">
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="">Cargo</label>
            <input type="text" class="form-control" name="cargo" placeholder="Ej: Presidente" autofocus>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="">Contraseña</label>
            <input type="number" class="form-control" name="contraseña">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="">Permisos</label>
            <input type="text" class="form-control" name="descripcion" placeholder="financiero, total y logistico">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus"></i>Ingresar usuario</button>
    </div>
</form>
