<div class="row">
    <div class="col-sm-12 col-md-3 bg-dark">
        
        <div class="card-body">
            {{> admin/sidebar}}
        </div>
    </div>

    <div class="col-sm-12 col-md-9 content">
            <div class="card-head jumbotron panel3" style="height: 350px">
                <br><br>
                <h1 class="title">Autoridades</h1>
            </div>
            <div class="card-body">
                <hr>
                <h3>¡Bienvenido!</h3>
                <br>
                <p>Este es el sistema administrativo para las autoridades de la Federación Venezolana de Kendo, Iaido y Jodo. Aquí podrá listar los dojos activos y aceptar nuevos, revisar las finanzas y actuar en consecuencia, así como registrar y asignar nuevos equipos.</p>
                <hr>
            </div>
    </div>
</div>