<div class="row">
    <div class="col-sm-12 col-md-3 bg-dark">
        
        <div class="card-body">
            {{> student/sidebar}}    
        </div>
    </div>

    <div class="col-sm-12 col-md-9 content">
            <div class="card-head jumbotron panel2" style="height: 350px">
                <br><br>
                <h1 class="title">Kenshi</h1>
            </div>
            <div class="card-body">
                <hr>
                <h3>¡Bienvenido!</h3>
                <br>
                <p>Este es el sistema administrativo para los kenshi. Aquí podrás configurar tu cuenta, registrar pagos y descargar certificaciones de grado para avalarte.</p>
                <hr>
            </div>
    </div>
</div>